<div class="grid flex justify-content-center align-items-center p-3">
  <div
    class="col-8 flex justify-content-center align-items-center flex-wrap main-div"
  >
    <div
      class="col-6 flex flex-column align-items-center justify-content-center left"
    >
      <img src="../../../assets/illustration.svg" alt="" id="left-img" />
      <h4 class="font-bold text-white">Intern Talent Management System</h4>
      <p>
        Intern Talent Management System is an online platform that helps interns
        to learn new skills.
      </p>
    </div>
    <div class="col-6 flex align-items-center justify-content-center right">
      <div class="block">
        <div
          class="flex-column align-content-between justify-content-center my-2"
        >
          <img
            src="../../../assets/CG-Logo_GoldNavy 2.svg"
            alt=""
            id="right-img"
          />
          <h3 class="text-black-alpha-90 font-bold">Welcome to ITMS Portal</h3>
          <div class="flex my-4">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-arrow-left"
              class="p-button-rounded p-button-text"
            ></button>
            <p id="email" class="para">email@email.com</p>
          </div>
          <h3 class="font-bold text-black-alpha-90 text-left">Enter Code</h3>
          <input
            #email
            id="email"
            type="text"
            class="form-control border-top-0 border-left-0 border-right-0 border-bottom-1 border-black-alpha-90"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="code"
          />
          <button
          routerLink="/login"
            pButton
            pRipple
            label="Verify"
            type="button"
            class="p-button-outlined w-100 align-items-center mt-4 bg-blue-900 text-white mb-2"
            id="verify-btn "
          ></button>
          <span class="font-bold text-blue-900">use another account</span>
        </div>

        <!-- <div class="block align-items-center justify-content-center pt-1">
          <h5 class="text-black-alpha-90 text-center font-bold p-1">
            Login with your Microsoft Account
          </h5>
          <button
            pButton
            pRipple
            label="Login with Microsoft"
            type="button"
            class="p-button-outlined p-button-danger w-100 align-items-center"
            id="ms-btn "
          >
            <img
              src="../../../assets/microsocft svg logo.svg"
              alt=""
              id="ms-logo"
            />
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>
