#left {
  background-color: red;
}
.left,
.right {
  height: 80vh;
  box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.1);
}
.left {
  background-color: rgb(0, 44, 63);
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.right {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: white;
}
.main-div {
  border-radius: 0.5rem;
  padding-top: 3rem;
}
#left-img {
  padding: 2rem;
  width: 100%;
  height: 100%;
}
#ms-logo {
  padding: 0 !important;
  width: 2rem;
  height: 2rem;
}
#right-img {
  padding: 0 !important;
}

p {
  text-align: center;
  padding: 0.5rem 3rem;
}
.para {
  color: black;
}
#email {
  padding: 0.5rem 0.5rem;
}

:host ::ng-deep .grid {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
:host ::ng-deep {
  //width: 365px;
  height: 29px;

  font-style: normal;

  // line-height: 29px;
  /* identical to box height */

  text-align: center;
}

button {
  padding: 5px 5rem 5px 5rem;
  border: 1px solid rgb(0, 44, 63) !important;
  color: rgb(0, 44, 63) !important;
  border-radius: 0.3rem;
}
button img {
  width: 22px;
  height: 22px;
}
button > * {
  vertical-align: middle;
}
:host ::ng-deep .p-button .p-button-label {
  padding-left: 1rem !important;
  color: white;
}
.form-control:focus {
  // border-color: #ff0000;
  border-bottom: 1.5px solid black !important;
  outline: none !important;
  border-radius: 0;
  // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  box-shadow: none;
}

input[type="text"] {
  padding: 10px 0.1rem;
  color: black;
}
