.content {
  background-color: #444461;
}
:host ::ng-deep {
  width: 100%;
  overflow-x: hidden !important;
}
.p-element {
  width: 100% !important;
}

:root {
  --plyr-color-main: #e657ff;
  --plyr-video-control-color: #e8ffba;
}

.col-12 {
  padding: 0 !important;
}
:host ::ng-deep .p-card .p-card-body {
  padding: 0 !important;
}

:host ::ng-deep video#player {
  width: 100% !important;
  padding: 0.2rem;
}
// :host ::ng-deep #p-menu {
//   overflow-y: visible;
// }
:host ::ng-deep .p-card .p-card-content {
  padding: 1rem 1rem;
  font-size: 2rem;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-header > a {
  padding: 2rem;
}

.grid {
  margin-right: 0 !important;
}