<div class="grid">
  <div class="col-12">
    <p-card [style]="{ width: '100%', height: '5rem', padding: '0' }">
      <ng-template pTemplate="content">
        The Complete React Bootcamp-2023
      </ng-template>
    </p-card>
  </div>
  <div class="col-12 lg:col-9 md:col-9">
    <div id="container">
      <video
        controls
        data-poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg"
        id="player"
      >
        <source
          src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4"
          type="video/mp4"
          size="576"
        />

        <track
          kind="captions"
          label="English"
          srclang="en"
          src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
          default
        />
        <track
          kind="captions"
          label="Français"
          srclang="fr"
          src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt"
        />

        <a
          href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4"
          download
          >Download</a
        >
      </video>
    </div>
    <p-tabMenu [model]="itemsTab"></p-tabMenu>
  </div>
  <div class="col-12 lg:col-3 md:col-3 bg-blue-900">
    <p-card [style]="{ width: '100%', height: '5rem', padding: '0' }">
      <ng-template pTemplate="content"> Course Content </ng-template>
    </p-card>
    <!-- <p-panelMenu [model]="items" id="p-menu"></p-panelMenu> -->
    <p-accordion [multiple]="true">
      <p-accordionTab header="Getting Started">
        <p></p>
      </p-accordionTab>
      <p-accordionTab header="The Basics">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit,
          sed quia non numquam eius modi.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Debugging">
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint occaecati cupiditate non provident,
          similique sunt in culpa qui officia deserunt mollitia animi, id est
          laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
          distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
          cumque nihil impedit quo minus.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Components & Databinding Deep Dive">
        <p></p>
      </p-accordionTab>
      <p-accordionTab header="Course Project - Components & Databinding">
        <p></p>
      </p-accordionTab>
      <p-accordionTab header="Components & Databinding Deep Dive">
        <p></p>
      </p-accordionTab>
      <p-accordionTab header="Exercise!  Building a Typing Game">
        <p></p>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
