<div class="flex justify-content-center align-items-center">
  <div class="md:col-8 sm:col-10 lg:col-8 flex justify-content-center align-items-center flex-wrap main-div">
    <div class="md:col-6 sm:col-12  flex-column align-items-center justify-content-center left">
      <img src="../../../assets/illustration.svg" alt="" />
      <h4 class="font-bold text-white">Intern Talent Management System</h4>
      <p>
        Intern Talent Management System is an online platform that helps interns
        to learn new skills.
      </p>
    </div>
    <div class="md:col-6 sm:col-12  flex-column align-items-center justify-content-center  right">

      <div class=" w-100 div1">
        <img src="../../../assets/Images/ITMS-Logo 1.svg" alt="" id="right-img" />
        <h4 class="text-black-alpha-90 font-bold">Forgot password?</h4>
        <div *ngIf="!VerfiyScreen">
        <div class="flex forgot-desc justify-content-center">
          <div class="flex flex-column justify-content-center pr-1 pl-1"><img src="../../../assets/Images/information.svg" alt="" srcset=""></div>
          <div  class="flex flex-column justify-content-center p-2">
            <p class="text-black-alpha-90 p-0 m-0"> Please enter your email address below. You will receive a
              link to reset your password</p>
          </div>
        </div>
        <!-- Submitting your email id -->
        <div  class="flex-colum px-5">
          <!-- for email input  -->
          <div class="emailLabel w-100 text-left text-lg pt-5">
            <label for="emailInput">Email id</label>
            <input #email id="emailInput" type="email" aria-describedby="username1-help" pInputText class="w-100 px-3"
              placeholder="Enter your email id " />
          </div>




          <button pButton pRipple type="button" (click)="EmailSubmit(email.value)" class="p-button w-100 mt-5" id="signUpBtn"
            >Submit</button>


          <a id="firstTimeUser" class="loginText block pt-4" routerLink="/login">Back To Login </a>

        </div>
      </div>
      <!-- email-verifaction -->
      <div *ngIf ="VerfiyScreen" >
        <div class="flex my-4">
          <button
          routerLink="/register"
            pButton
            pRipple
            type="button"
            icon="pi pi-arrow-left"
            class="p-button-rounded p-button-text"
          ></button>
          <p id="email"  class="para text-black-alpha-90">{{email}}</p>
        </div>
        <h3 class="font-bold text-black-alpha-90 text-left">Enter Code</h3>
        <input
          #verify
          id="email"
          type="number"
          class="form-control border-top-0 border-left-0 border-right-0 border-bottom-1 border-black-alpha-90"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="code"
        />
        <button
        routerLink="/login"
          pButton
          pRipple
          label="Verify"
          type="button"
          class="p-button-outlined w-100 align-items-center mt-4 bg-blue-900 text-white mb-2"
          id="verify-btn "
          routerLink="/new-password"
        ></button>
        <span class="font-bold text-blue-900">use another account</span>
      </div>
      </div>

    </div>
  </div>
</div>