* {
  font-family: "Lato", sans-serif;
}
:host::ng-deep .card {
  width: 92%;
  height: 40%;
  border: none;
  background-color: #2d4a56 !important;
}
:host::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: rgb(0, 44, 62) !important;
  color: whitesmoke;
}
:host::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  border: none;
}
:host::ng-deep .p-sidebar-right {
  width: 26rem;
}
.btn-request-leave {
  display: flex;
  width: 92%;
}
p {
  margin: 0;
}
.btn-request-time-off {
  cursor: pointer;
  border-radius: 0.3rem;
  width: 10.8125rem;
  background-color: #28519e;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}
// :host::ng-deep .pi-sort-alt:before {
//   content: "";
//   background: url(../../../assets/svg/Vector.svg);
//   color: red;
// }
// :host::ng-deep .pi-sort-alt:before {
//   padding-top: 0.4rem;
//   padding-bottom: 0.4rem;
//   padding-left: 0.4rem;
//   padding-right: 0.4rem;
//   content: "";
//   background-image: url(../../../assets/svg/Vector.svg);

//   background-repeat: no-repeat;
//   position: relative;
// }
#title {
  width: 92%;
}
.status {
  background-color: rgba(233, 145, 9, 0.1);
  color: #dc6e09;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  border-radius: 0.2rem;
}
.side-bar {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;
  position: absolute;
  width: 147px;
  height: 40px;
  right: -54px;
  top: 358.5px;
  background: #002c3f;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 15%);
  border-radius: 0px 0px 4px 4px;
  transform: rotate(90deg);
}
//modal css
button {
	border: none;
}

.common_margin {
	margin-bottom: 24px;
	margin-left: 24px;
}

.cancel_top {
	margin-top: 32px;
	background-color: #FFFFFF;
}

.header {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #343435;
	margin-top: 32px;
	margin-left: 16px;
}

.blocks {
	margin-right: 73px;
}

.radio_button {
	accent-color: #28519E;
	height: 20px;
	width: 20px;
	border: 1px solid #28519E;
}

.day_count {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	margin-left: 11px;
	margin-bottom: 0px;
}

.date_blocks {
	margin-right: 24px;
}

span {
	color: #E03E2D;
}

.input_date {
	border: 1px solid #919094;
	border-radius: 4px;
	padding: 8px 12px;
	margin-top: 6px;
	width: 100%;
}

.leave_date {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #77777A;
	margin-bottom: 0;
}

.reason {
	margin-top: 6px;
	width: 88%;
}

textarea::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #46464A;
}

.raise_request {
	background-color: #FFB81C;
	font-weight: 600;
	font-size: 14px;
	line-height: 32px;
	color: #343435;
	padding: 4px 16px;
	border-radius: 4px;
	box-shadow: 0px 2px 10px rgba(34, 62, 73, 0.1);
	margin-left: 16px;
}

.cancel {
	background-color: #FFFFFF;
	font-weight: 600;
	font-size: 14px;
	line-height: 32px;
	border: 1px solid #343435;
	padding: 4px 16px;
	border-radius: 4px;
	box-shadow: 0px 2px 10px rgba(34, 62, 73, 0.1);
}
.modal-header {
  border-bottom: 1px solid black !important;
}
.modal-content {
  width: 120% !important;
}
.leave-btn {
	cursor: pointer  !important;
}
:host::ng-deep .p-toast-message-content {
	display: flex !important;
	justify-content: center!important;
} 