<div class="flex justify-content-center align-items-center">
  <div
    class="md:col-8 sm:col-10 lg:col-8 flex justify-content-center align-items-center flex-wrap main-div"
  >
    <div class="md:col-6 sm:col-12  flex-column align-items-center justify-content-center left">
      <img src="../../../assets/illustration.svg" alt="" />
      <h4 class="font-bold text-white">Intern Talent Management System</h4>
      <p>
        Intern Talent Management System is an online platform that helps interns
        to learn new skills.
      </p>
    </div>
    <div class="md:col-6 sm:col-12  flex-column align-items-center justify-content-center  right">

        <div
          class=" w-100 div1"
        >
          <img
            src="../../../assets/Images/Itmslogo.svg"
            alt=""
            id="right-img"
          />
          <h4 class="text-black-alpha-90 font-bold">Welcome to ITMS Portal</h4>


          <div class="flex-colum px-5">
            <!-- for email input  -->
          <div class="emailLabel w-100 text-left text-lg pt-5">
            <label for="emailInput">Email</label>
             <input #email id="emailInput" type="email" aria-describedby="username1-help" pInputText class="w-100 px-3"/>
           </div>

          <!-- for password input -->
           <div class="emailLabel w-100 text-left pt-4 pb-5">
            <label for="passwordInput" class="text-base">Password</label>
             <input  #password id="passwordInput" type="password" aria-describedby="username1-help" pInputText class="w-100 px-3"/>
           </div>
           
            <button pButton pRipple type="button" class="p-button w-100 mt-2" id="signUpBtn" (click)="LoginUser(email.value, password.value)">Login</button>
            <a id="forgetPassword" (click)="forgetPassword()" routerLink="/forgot-password" class="loginText block pt-3">Forgot password? </a>

            <a id="firstTimeUser" (click)="redirectToRegisterPage()" class="loginText block pt-4">Sign Up if you are a first time user  </a>

          </div>
          
        </div>
        
      </div>
    </div>
  </div>
